@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  background-color: #e49072;
}
h1 {
  text-align: center;
  font-family: Mochiy Pop One;
  color: red;
}
h3 {
  text-align: center;
  font-family: Mochiy Pop One;
}
h4 {
  font-family: Mochiy Pop One;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  border: 5px solid brown;
  padding-top: 10 5px;
  padding-bottom: 10px;
  background-color: grey;
  align-items: center;
  font-family: Mochiy Pop One;
}

.navbar a {
  text-decoration: none;
  color: white;
}

img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  color: yellow;
}

p {
  text-align: justify;
  font-family: Lora;
}
